:root { /* Barvy */
    --main-background: #faf2f2;
    --second-background: #ff0000;
    --best-seller: #ffff00;
    --sales-background: #f07878;
    --letter-background: #2ddf2d;
    --letter-color: #008000;
    --letter-black: #000000;
}